body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: black;
}

.habit-container {
    padding: 5px;
    border-radius: 15px;
}

/* This is for the water section */
section#water {
    background-color: lightblue;
}
section#water h1 {
    color: #3498db;
}

form {
    display: none;
}

/* This is for the sleep section */
section#sleep {
    background-color: lavender;
}
section#sleep h1 {
    color: rgb(155, 92, 238);
}