body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #F8F9FA;
  color: #343A40;
}

h1 {
  color: black;
}

.topnav {
  background-color: #6C757D;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #F8F9FA;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ADB5BD;
  color: black;
}

.topnav a.active {
  background-color: #E9ECEF;
  color: #6C757D;
}